In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl
%matplotlib inline

In [21]:
die = pd.DataFrame([1,2,3,4,5,6])
trail = 50
result = [die.sample(2, replace=True).sum().loc[0] for i in range(trail)]

In [22]:
die

   0
0  1
1  2
2  3
3  4
4  5
5  6